.search {
    position: relative;
    width: 560px;
    &__input {
        margin-top: 30px;
        padding: 8px 20px;
        width: 100%;
        height: 40px;
        outline: none;
        border: 1px solid #424242;
        background-color: #222222;
        border-radius: 10px 10px 0 0;
        color: white;
    }
    &__svg {
        position: absolute;
        right: -30px;
        top: 50px;
    }
}
